html {
    transition: all 2s;
    background-color: #ff0080;
    font-family: monospace;
    /*            background-image: linear-gradient(to left,lime,yellow);*/
}

html:hover {
    transition: none;
    background-color: chartreuse;
    /*            background-image: linear-gradient(to left,#ff0080,yellow);*/
    /*            background: element(#sl)*/
}
body{
    margin: 0 auto;
    max-width: 800px;
}
header{
    background-image: linear-gradient(to left,lime,yellow);
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.56);
/*    margin: 0 auto;*/
/*    background: red;*/
    position: sticky;
    top: 15px;
}
h1 {
/*    background-image: linear-gradient(to left,lime,yellow);*/
/*    -webkit-background-clip: text;*/
    color: yellow;
    text-decoration-line: underline;
    text-decoration-skip: none;
    text-decoration-color: lime;
    text-decoration-style: wavy;
    margin-top: 15px;
    text-shadow: rgba(0, 0, 0, 0.9) 2px 2px 5px,rgba(255, 255, 255, 0.6) -1px -1px 4px ;
    font-family: cursive;
    text-align: center;
    transition: all 1s ease-in;
    animation-duration: 3s;
    animation-name: h1;
    animation-iteration-count: 1;
    animation-direction: alternate;

}

h1:active {
/*    display: inline;*/
/*    float: left;*/
    transform: rotate(360deg);
    margin-right: 80%;
    font-size: .7em;
    filter: opacity(10%);
}

h3 {
    position: absolute;
    bottom: 4%;
    left: 1%;
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-delay: 2s;
}
   a:hover { /* Вид ссылки при наведении на неё курсора */
    text-shadow: #ff0080 0 0 5px;
    color: #000;
   }

input {
    font-family: monospace;
}

button {
    font-family: monospace;
}
@keyframes slidein {
    from {
        margin-left: 100%;
        width: 100%;
    }

    75% {
        font-size: 300%;
        margin-left: 25%;
        width: 150%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}
@keyframes h1 {
    from {
    transform: rotate(360deg);
    margin-right: 80%;
    font-size: .7em;
    filter: opacity(1%);
    }

/*
    75% {
        font-size: 300%;
        margin-left: 25%;
        width: 150%;
    }
*/

    to {
/*
        margin-left: 0%;
        width: 100%;
*/
    }
}